<div class="user_badge">
  <div class="avatar" align="center">
    <% if @photo_url.blank? %>
        <%= image_tag('default.jpg') %>
    <% else %>
        <a class="fancy_image" href="<%= @user.user_extra.avatar.url %>">
          <%= image_tag(@photo_url) %>
        </a>
    <% end %>
  </div>
  <div class="user_rating_star" align="center">
    <% if !@renren_url.blank? %>
        <%= link_to @renren_url, :target=>"_blank", :title=>"访问人人主页" do %>
            <%= image_tag 'renren.png', :size => "10x10" %>
        <% end %>
    <% end %>
    <span class="gold_star"><%= '★'*@gold_rating %></span> <span class="blue_star"><%= '★'*@blue_rating %></span> <span class="red_star"><%= '★'*@red_rating %></span>
  </div>
  <div class="name" align="center">
    <%= link_to @friendly_name, "/profile/show?target_user=#{@user.id}" %>
  </div>
</div>