<%= javascript_include_tag "event.js" %>
<%= content_box "" do %>

    <%= instance_header(@event.instances[0], true, true) %>


    <% if !(attendees = get_attendees(@event, @attendee_offset, 10+1)).empty? %>
        <h3 id="attendees_h3">活动参与者</h3>
        <div class="attendees">

          <div class="event attendee">
            <% attendees[0...10].each do |att| %>
                <%= user_profile(att, att == attendees[0...10].last) %>
            <% end %>
          </div>
          <%= link_to('上一页', params.merge({:offset => @attendee_offset - 10})) if @attendee_offset >= 10 %>
          <% if @attendee_offset >= 10 && attendees.count > 10 %>  &nbsp;&nbsp;
          <% end %>
          <%= link_to('下一页', params.merge({:offset => @attendee_offset + 10})) if attendees.count > 10 %>
        </div>
    <% end %>

<% end %>

